@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "css/Transition.css";
@import "css/Feature.css";
@import "css/HeartBeat.css";
@import "css/Toggle.css";

.App {
  font-family: 'Open Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}
